.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }
  
  .button {
    background-color: #C7202C;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
    border: none;
    border-radius: 16px;
    width: 80%;
    max-width: 300px;
    cursor: pointer;
  }
  
  .footer {
    font-size: 12px;
    color: black;
    text-align: center;
    padding-bottom: 16px;
  }
  