.inicioContainer {
    text-align: center;
    padding: 20px;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  
  .mainSection {
    margin-top: 50px;
  }
  
  .denunciaButton {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .link {
    display: block;
    margin-top: 30px;
    color: blue;
    text-decoration: underline;
  }
  